<%= turbo_frame_tag "chat_panel",
    data: {
      conversation_id: @conversation.id,
      messages_dom_id: dom_id(@conversation, :messages),
      thinking_dom_id: dom_id(@conversation, :thinking)
    } do %>
  <div class="chat-messages" id="<%= dom_id(@conversation, :messages) %>">
    <%= render @messages %>
  </div>

  <div id="<%= dom_id(@conversation, :thinking) %>"></div>

  <%= render "conversations/message_form",
      conversation: @conversation,
      message:      Message.new %>
<% end %>
